.tab-buttons-container {
  width: 100%;
  display: flex;
  overflow-x: auto;
  border-bottom: 1px solid #f0f0ff;
}

.tab-button {
  border-radius: 0px;
  background-color: transparent;
  width: 100%;
}

.tab-button:hover {
  color: lightblue;
  outline: unset;
  border: none;
}

.tab-button:focus {
  border: 1px solid lightblue;
  outline: unset;
}

.active {
  color: lightblue;
  border-bottom: 2.5px solid lightblue !important;
}

.active:focus {
  border: unset;
  outline: unset;
}
